/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Eliminar scroll horizontal */
}

/* Contenedor principal */
.main-container {
    width: 80%;
    margin: 2px auto 10px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px; /* Ajustar margen superior */
}

/* Título */
h2 {
    text-align: center;
    color: #333;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
  }
  
  .grid-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: left;
    cursor: pointer;
    transition: transform 0.2s;
  }

  .product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  
  .grid-item:hover {
    transform: scale(1.05);
  }
  
  .grid-item h3 {
    margin-top: 0;
  }

/* Formulario de vendore */
.vendor-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.vendor-form input {
    flex: 1 1 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.vendor-form .form-buttons {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.vendor-form .btn {
    flex: 1;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.vendor-form .btn-create {
    background-color: #007bff;
}

.vendor-form .btn-create:hover {
    background-color: #0056b3;
}

.vendor-form .btn-edit {
    background-color: #28a745;
}

.vendor-form .btn-edit:hover {
    background-color: #218838;
}

.vendor-form .btn-delete {
    background-color: #dc3545;
}

.vendor-form .btn-delete:hover {
    background-color: #c82333;
}

.vendor-form .btn-clear {
    background-color: #6c757d;
}

.vendor-form .btn-clear:hover {
    background-color: #5a6268;
}

.product-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.product-form input {
    flex: 1 1 220px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product-form .form-buttons {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.product-form .btn {
    flex: 1;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.product-form .btn-create {
    background-color: #007bff;
}

.product-form .btn-create:hover {
    background-color: #0056b3;
}

.product-form .btn-edit {
    background-color: #28a745;
}

.product-form .btn-edit:hover {
    background-color: #218838;
}

.product-form .btn-delete {
    background-color: #dc3545;
}

.product-form .btn-delete:hover {
    background-color: #c82333;
}

.product-form .btn-clear {
    background-color: #6c757d;
}

.product-form .btn-clear:hover {
    background-color: #5a6268;
}

.client-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.client-form input {
    flex: 1 1 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.client-form .form-buttons {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.client-form .btn {
    flex: 1;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.client-form .btn-create {
    background-color: #007bff;
}

.client-form .btn-create:hover {
    background-color: #0056b3;
}

.client-form .btn-edit {
    background-color: #28a745;
}

.client-form .btn-edit:hover {
    background-color: #218838;
}

.client-form .btn-delete {
    background-color: #dc3545;
}

.client-form .btn-delete:hover {
    background-color: #c82333;
}

.client-form .btn-clear {
    background-color: #6c757d;
}

.client-form .btn-clear:hover {
    background-color: #5a6268;
}

/* Tabla */
.table-container {
    width: 100%;
    margin: 20px 0;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #6c7ae0;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Botones de acción */
.btn {
    padding: 8px 12px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 5px;
}

.btn-create {
    background-color: #007bff;
}

.btn-create:hover {
    background-color: #0056b3;
}

.btn-edit {
    background-color: #28a745;
}

.btn-edit:hover {
    background-color: #218838;
}

.btn-delete {
    background-color: #dc3545;
}

.btn-delete:hover {
    background-color: #c82333;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #28a745;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
/* Menú de navegación horizontal */
.nav-menu {
    list-style-type: none; /* Quitar las viñetas */
    background: linear-gradient(to right, #0e0635, #800080);
    color: white;
    display: flex;
    justify-content: flex-start; /* Alinear a la izquierda */
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-menu li {
    padding: 15px;
    text-align: left; /* Alinear el texto a la izquierda */
}

.nav-menu li a {
    color: white;
    text-decoration: none;
}

.nav-menu li a:hover {
    text-decoration: underline;
}

/* Ajustar el contenedor principal para que no quede debajo del menú */
.main-container {
    margin-top: 125px; /* Ajustar según la altura del menú */
}
/* Estilo para el mensaje de error */
.error-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  }
  
  .alert button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: white;
    color: green;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  /* Estilo para el mensaje de éxito */
  .success-message {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
  }

/* Media Queries para diseño responsive */
@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
    }

    .main-container {
        margin-top: 60px; /* Ajustar según la altura del menú en dispositivos móviles */
    }

    .form {
        margin-bottom: 20px;
    }

    .table-container {
        overflow-x: auto;
    }
}

/* Ajustar el menú */
.nav-menu {
    display: flex;
    flex-direction: row;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1000;
}

@media (max-width: 480px) {
    .nav-menu {
        padding: 10px;
    }

    .nav-menu li {
        padding: 10px;
    }

    .main-container {
        width: 100%;
        margin-top: 100px; /* Ajustar según la altura del menú */
    }

    th, td {
        padding: 6px;
        font-size: 12px;
    }

    .btn {
        padding: 4px 8px;
        font-size: 12px;
    }

    table {
        width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}